<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Pokemon</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>

<style>
  body {
    background-color: beige;
    padding-top: 50px;
    /* display: flex; */
    text-align: center;
  }
  li {
    list-style: none;
  }
  .pokemon-base{
      
      background-color: darkgrey;
      margin: 40px;
  }
  .pokemon-imgs {
    width: 150px;
    height: 150px;
  }
  .pokemon-type{
      background-color: darkgrey;
  }
  .pokemon-stats{
      background-color: darkgrey;
  }
</style>
