<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Pokemon</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script defer src="/public/pokemon-api.js"></script>

<style>
  body {
    background-color: beige;
    padding-top: 50px;
    /* display: flex; */
    text-align: center;
  }
  img{
      border-radius: 25px;
      width: 40%;
      height: 40%;
  }
  li {
    list-style: none;
  }
  .pokemon-base{
      
      background-color: darkgrey;
      margin: 40px;
  }
  .pokemon-imgs {
    width: 150px;
    height: 150px;
  }
  .pokemon-type{
      background-color: darkgrey;
  }
  .pokemon-stats{
      background-color: darkgrey;
  }
</style>
