<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <div>

        <h1>Welcome to Home page!</h1> <br>
    </div>
    <div class="container">
        
    
        <div>

            <h2>Go to <a href="/Pokemon">Pokedex</a></h2>
        </div>
        
    </div>
</body>
</html>