<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <ul>
       <% allPokemon.slice(-16).forEach((element,index,array)=>{ %>
        <li>

            <a href="/pokemon/<%=index%>">
                <img src="<%=allPokemon[index].img%> " alt="" class="pokemon-imgs">
                <!-- <%=allPokemon[index].img%>  -->
            </a>
        <% }) %> 
        </li>
    </ul>
</body>
</html>