<!DOCTYPE html>
<html lang="en">
    <%- include("partials/new-head.ejs") %>
<body>
    <h1>Add new pokemon 898</h1>
    <form action="/pokemon" method="post">
        Name: <input type="text" name="name" /> <br/>
        
         <br />
        <input type="submit" value="Create pokemon">
    </form>
    <div class="pokemon-wrapper">

        <img src="https://i0.wp.com/www.alphr.com/wp-content/uploads/2016/07/whos_that_pokemon.png?fit=1920%2C1080&ssl=1" alt="">
    </div>
</body>
</html>